.Menu {
	width: 300px;
	min-height: 100px;
	margin: 30px;
	padding: 5px;
	background-color: #eee;
}

.Menu__filtros {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	font-size: 20px;
	padding: 5px;
	border: none;
	border-bottom: 2px solid #ccc;
	cursor: pointer;
}

.Menu__listas > ul {
	padding-left: 5px;
	list-style: none;
}

.Menu__listas > ul > li {
	margin: 10px 0;
	cursor: pointer;
}

.Menu__listas > ul > li:hover {
	text-decoration: underline;
}

.Menu__filtro--button {
	width: 100%;
	height: 50px;
	font-size: large;
	border-radius: 5px;
	border: 1px solid #000;
}
