.searcher {
	display: flex;
	align-items: center;
	width: 100%;
	height: 75px;
}

.searcher > input {
	width: 100%;
	padding: 5px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 15px;
}

.searcher > svg {
	position: relative;
	right: 30px;
	color: #000;
	font-size: 20px;
}

.searcher__result {
	position: absolute;
	top: 65px;
	left: 45%;
	transform: translateX(-45%);
	width: 31%;
	max-height: 300px;
	padding: 0 10px;
	background-color: #fff;
	overflow-y: auto;
	text-overflow: ellipsis;
}

.searcher__result > a {
	text-decoration: none;
	color: #000;	
}

.result {
	display: flex;
	align-items: center;
}

.result__info {
	max-width: 200px;
	word-wrap: break-word;
}

.result__img {
	width: 100px;
	height: 100px;
	margin-right: 20%;
}

.result__img > img {
	max-width: 100%;
}

@media screen and (max-width: 500px) {
	.searcher {
  	background-color: #fff;
		position: relative;
		top: 49px;
		justify-content: center;
		height: 70px;
		z-index: 1001;
	}
	.searcher > input {
		width: auto;
	}
	.searcher__result {
		top: 65px;
		width: auto;
		left: 0;
		transform: translateX(0);
		right: 0;
	}
}
