.Productos {
	width: 100%;
	height: auto;
	text-align: center;
}

.Productos__img {
	width: 100%;
	height: auto;
}

.Productos__img > img {
	width: 100%;
	height: 100%;
}

.Productos__descripcion > button {
	margin: 10px auto;
	padding: 9px;
	background-color: #43abdc;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

/*.Productos__descripcion > button > a {*/
	/*text-decoration: none;*/
	/*color: #fff;*/
/*}*/

/*@media screen and (max-width: 500px) {*/
	/*.Productos {*/
		/*max-width: 150px;*/
		/*margin: 0 auto;*/
	/*}*/
/*}*/
