.header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 75px;
  background-color: #fff;
  z-index: 1002;
}

.header__logo {
  width: auto;
  height: 75px;
  margin-right: auto;
}

.header__logo > a > img {
  max-width: 100%;
  max-height: 75px;
  margin: 10px 20px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  list-style: none;
  font-size: 16px;
}

.header__searcher {
  width: 33%;
}

.header__nav > li {
  cursor: pointer;
}

.header__nav > li > a {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.header__nav > li > a:hover {
  background-color: rgba(155, 155, 155, 0.5);
}

.responsive__searcher {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
}

@media screen and (max-width: 500px) {
  .header__nav > li > a {
    padding: 0;
  }
}

